

.spinner {
    width: 8rem;
    height: 8rem;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation: spin 1.5s linear infinite;
    border: 6px solid transparent;
    border-top-color: #D8315B;

}




@keyframes spin {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(360deg);
    }
    75% {
        transform: rotate(540deg);
    }
}