.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
    height: auto;
}

.image-container .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0.7;
    font-size: 24px;
}